.form-container {
  margin: 30px;
  max-width: 300px;
}
.input-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #38c412;
}

.signup-btn {
  padding: 10px;
  width: 100px;
  height: 36px;
  border: none;
  color: #ffff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #242163;
}
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3ac0cf;
  background-size: cover;
  height: 100vh;
}
.title {
  color: #e6150e;
}
